.contenedor-carrito-titulo h1 {
  margin-top: 95px;
  margin-left: 847px;
  width: 300px;
  height: 43px;
  color: var(--unnamed-color-2d3332);
  text-align: left;
  font: normal normal bold 30px/35px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}

.contenedor-carrito-total p {
  margin-top: -22px;
  margin-left: 880px;
  width: 168px;
  height: 23px;
  color: var(--unnamed-color-2d3332);
  text-align: left;
  font: normal normal normal 16px/25px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}

.barra-progreso-linea {
  display: flex;
  align-items: center;
}

.barra-progreso-linea hr {
  margin-left: -730px;
  margin-top: 12px;
  width: 720px;
  height: 10px;
  background: #2d3332;
  border: none;
  opacity: 0.1;
}

.circulo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: #2d3332;
  opacity: 0.1;
  margin-top: 5px;
}

.pintar {
  background: #058a7e;
  opacity: 1;
}

.barra-progreso-circulo1 {
  margin-left: 596px;
}

.barra-progreso-circulo2 {
  margin-left: 320px;
}

.barra-progreso-circulo3 {
  margin-left: 360px;
}

.barra-progreso-textos {
  display: flex;
  margin-left: 560px;
  margin-bottom: 20px;
}

.barra-progreso-textos1 {
  margin-left: 18px;
  width: 52px;
  height: 17px;
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}

.barra-progreso-textos2 {
  margin-left: 300px;
  width: 52px;
  height: 17px;
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}

.barra-progreso-textos3 {
  margin-left: 320px;
  width: 52px;
  height: 17px;
  text-align: left;
  font: normal normal normal 12px/18px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}
