.container-form-login {
  background-color: #080936;
  width: 400px;
  height: 370px;
  margin: 250px 100px 100px 800px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
}

.container-form-login-center {
  width: 75%;
  margin: 0px auto;
}

.container-form-login-logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

.container-form-login-logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -9px;
  margin-left: 85px;
}

.container-form-login-title {
  display: block;
  margin: 0px;
  float: left;
  margin-left: 40px;
  margin-bottom: 50px;
  color: white;
}

.container-form-login input[type="text"] {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
  font-size: 1em;
  margin-left: 60px;
  margin-bottom: 5px;
}

.container-form-login input[type="password"] {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: #f2f2f2;
  font-size: 1em;
  margin-left: 60px;
}

.container-form-login-register-link {
  font-size: 1em;
  margin-top: 10px;
  color: white;
  margin-left: 150px;
}

.container-form-login-register-link:hover{
  text-decoration: underline;
}

.container-form-login-register-link2 {
  font-size: 1em;
  margin-top: 10px;
  color: white;
  margin-left: 100px;
}

.container-form-login-register-link2:hover{
  text-decoration: underline;
}

.container-form-login-button-login {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  width: 280px;
  margin-left: 60px;
  margin-top: 10px;
}

.container-form-login-button-login:hover {
  color: #222;
  background: var(--primary);
}

.container-form-login-google {
  background-color: #080936;
  width: 400px;
  height: 120px;
  border: none;
  border-radius: 9px;
  margin-left: 800px;
  margin-top: -100px;
}

.container-form-login-google-button-login {
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  margin-left: 60px;
  margin-bottom: 10px;
}

.container-form-login-google-button-login:hover {
  color: #222;
  background: var(--primary);
}