.content2 {
  width: 100%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
  margin-top: 30px;
}

.content-2-subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.content-2-input_filtro {
  width: 210px;
  height: 30px;
  font-size: 15px;
  border: 1px solid;
  border-radius: 5px;
  margin-bottom: 50px;
}

.content-2-articles {
  display: flex;
  flex-wrap: wrap;
}

.content-2-articles-article-item {
  width: 24%;
  height: 410px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 10px;
  margin-bottom: 40px;
  text-align: left;
}

.content-2-articles-article-item-image-wrap {
  width: 100%;
  height: 340px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  margin-top: -20px;
}

.content-2-articles-article-item-image-wrap img {
  height: 100%;
  width: 100%;
  text-align: center;
}

.content-2-articles-article-item h2 {
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.content-2-articles-article-item a {
  display: block;
  color: #444;
  text-decoration: none;
  margin-top: 7px;
}

.content-2-articles-article-item p {
  display: block;
  color: #444;
  text-decoration: none;
  margin: 0px;
}

.content-2-articles-article-item a:hover {
  text-decoration: underline;
}

.content-2-articles-no-productos {
  margin-left: 492px;
}
