.textos-primero {
  margin-top: 190px;
  margin-left: 150px;
  margin-bottom: -5px;
  width: 420px;
  height: 28px;
  color: var(--unnamed-color-2d3332);
  text-align: left;
  font: normal normal normal 20px/30px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}

.textos-segundo {
  margin-left: 150px;
  width: 674px;
  height: 178px;
  color: var(--unnamed-color-2d3332);
  text-align: left;
  font: normal normal bold 45px/50px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}

.textos-tercero {
  margin-top: -35px;
  margin-left: 150px;
  width: 241px;
  height: 20px;
  color: var(--unnamed-color-2d3332);
  text-align: left;
  font: normal normal normal 14px/21px Poppins;
  letter-spacing: 0px;
  color: #2d3332;
  opacity: 1;
}

.button-comprar-ahora {
  margin-top: -230px;
  margin-left: 150px;
  width: 260px;
  height: 45px;
  background: #058a7e 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  opacity: 1;
  padding-top: 20px;
}

.button-comprar-ahora-button {
  text-decoration: none;
  text-align: left;
  font: normal normal bold 14px/21px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-left: 100px;
  cursor: pointer;
}

hr {
  margin-top: 100px;
  margin-left: 150px;
  width: 735px;
  height: 0px;
  border: 1px solid #707070;
  opacity: 1;
}

.imagen {
  margin-top: -398px;
  margin-left: 968px;
  width: 910px;
  height: 665px;
  /* background: url("https://4.bp.blogspot.com/_9RS5MCWlr9U/S-acTOXD1RI/AAAAAAAABFU/JogerYun7Kk/s1600/257279-143795_p.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  opacity: 1;
}
